*   @massimotisi

/src/abstraction/eq1Producteur1/    @CACAO2022/eq1Producteur1
/src/abstraction/eq2Producteur2/    @CACAO2022/eq2Producteur2
/src/abstraction/eq3Transformateur1/    @CACAO2022/eq3Transformateur1
/src/abstraction/eq4Transformateur2/    @CACAO2022/eq4Transformateur2
/src/abstraction/eq5Transformateur3/    @CACAO2022/eq5Transformateur3
/src/abstraction/eq6Distributeur1/    @CACAO2022/eq6Distributeur1
/src/abstraction/eq7Distributeur2/    @CACAO2022/eq7Distributeur2
/src/abstraction/eq8Romu/    @CACAO2022/eq8Romu
